.confirm-card {
  width: 100%;
  max-width: 400px;
  background-color: #fbe9e7;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow-x: hidden;
}

.mat-input-element {
  font-size: 1.2rem;
  line-height: 2;
}

.field-label {
  font-weight: 400;
  color: black;
  margin-right: 0.5rem;
}

.field-value {
  font-weight: 600;
  color: black;
}

.confirm-title {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  color: red
}

.entity-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.red-button {
  background-color: rgb(215, 24, 24) !important;
  color: white !important;
}

.white-button {
  background-color: white !important;
  color: rgb(215, 24, 24) !important;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}